<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>ApoCliUrlHandler</string>
    <key>CFBundleExecutable</key>
    <string>ApoCliUrlHandler</string>
    <key>CFBundleIdentifier</key>
    <string>xyz.branw.apo-cli-url-handler</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ApoCliUrlHandler</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ApoCliUrlHandler.err.out</string>
    <key>StandardOutPath</key>
    <string>/tmp/ApoCliUrlHandler.out</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>APO Command</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>apo</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
